<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
	</startup>
	<connectionStrings>
		<add name="ConnectionStringMsSql" connectionString="Data Source=dbsys.cs.vsb.cz\STUDENT;Initial Catalog=SMO0117;User ID=SMO0117;Password=YW3I0XwrvhK1wMW2;"/>
	</connectionStrings>
</configuration>